!!!
%html
  %head
    %title= title
    %link{:rel=>"stylesheet", :href=>"style.css", :type=>"text/css", :media=>"screen,projection"}
  %body
    %h1= title
    - for website in websites
      %div.site{:class=>website.status.to_s}
        %h2
          %a{:href=>website.public_url}= website.name
        %ul
          %li.status
            Status:
            = website.to_s
          - if website.code
            %li
              Status code:
              = website.code
          %li
            Last check:
            = website.time
    .footer IsTheWebsiteDown - Copyright &copy; 2009 Wes Oldenbeuving