!!!
%html
  %head
    %title= title
  %body
    %h1= title
    - for website in websites
      %h2= website.url
      %ul
        %li
          Status:
          = website.status
        %li
          Last check:
          = website.time
